@model Football.Models.Player

@{
    ViewData["Title"] = "Player";
}


<div class="tm-isblog tt-players-page">
    <div class="over-wrap">

        <div class="tm-top-a-box tm-full-width tm-box-bg-1 ">
            <div class="uk-container uk-container-center">
                <section id="tm-top-a" class="tm-top-a uk-grid uk-grid-collapse" data-uk-grid-match="{target:'> div > .uk-panel'}" data-uk-grid-margin="">

                    <div class="uk-width-1-1 uk-row-first">
                        <div class="uk-panel">
                            <div class="uk-cover-background uk-position-relative head-wrap" style="height: 290px; background-image: url('../../images/head-bg.jpg');">
                                <img class="uk-invisible" src="../../images/head-bg.jpg" alt="" height="290" width="1920">
                                <div class="uk-position-cover uk-flex uk-flex-center head-title">
                                    <h1>Players</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>


        <div class="uk-container uk-container-center">
            <div id="tm-middle" class="tm-middle uk-grid" data-uk-grid-match="" data-uk-grid-margin="">
                <div class="tm-main uk-width-medium-1-1 uk-row-first">
                    <div id="tm-content" class="tm-content">
                        <div id="system-message-container"></div>
                        <div class="contentpaneopen">
                            <article class="player-single tt-players-page">
                                <div class="uk-container uk-container-center alt">
                                    <div class="uk-gfid">
                                    </div>
                                </div>
                                <div class="player-top">
                                    <div class="uk-container uk-container-center alt">
                                        <div class="uk-grid">
                                            <div class="uk-width-5-12">
                                                <div class="avatar">
                                                    <img src="~/images/@Model.Photo" class="img-polaroid" alt="Christopher Herrera" title="Christopher Herrera">
                                                </div>
                                            </div>
                                            <div class="uk-width-1-12">
                                                <div class="number">
                                                    @Html.DisplayFor(model => model.PlayerNumber)
                                                </div>
                                            </div>
                                            <div class="uk-width-6-12">
                                                <div class="name">
                                                    <h2>
                                                        @Html.DisplayFor(model => model.Name)
                                                    </h2>
                                                </div>
                                                <div class="wrap">
                                                    <ul class="info">
                                                        <li><span>POSITION</span><span>@Html.DisplayFor(model => model.Position)</span></li>
                                                        <li><span>APPEARANCES</span><span>@Html.DisplayFor(model => model.Apperances)</span></li>
                                                        <li><span>GOALs</span><span>@Html.DisplayFor(model => model.Goals)</span></li>
                                                        <li><span>YELLOW CARDS</span><span>@Html.DisplayFor(model => model.YellowCards)</span></li>
                                                        <li><span>RED CARDS</span><span>@Html.DisplayFor(model => model.RedCards)</span></li>
                                                        <li><span>D.O.B</span><span>@Html.DisplayFor(model => model.DateOfBirth)</span></li>
                                                        <li><span>NATIONALITY</span><span>@Html.DisplayFor(model => model.Nationality)</span></li>
                                                        <li><span>HEIGHT</span><span>@Html.DisplayFor(model => model.HeightInMeters).0M</span></li>
                                                        <li><span>WEIGHT</span><span>@Html.DisplayFor(model => model.WeihtInKilograms) KG</span></li>
                                                    </ul>
                                                    <ul class="socials">
                                                        <li class="twitter">
                                                            <a href="http://twitter.com/" target="_blank" rel="nofollow">
                                                            </a>
                                                        </li>
                                                        <li class="facebook">
                                                            <a href="http://facebook.com/" target="_blank" rel="nofollow">
                                                            </a>
                                                        </li>
                                                        <li class="google-plus">
                                                            <a href="https://plus.google.com/" target="_blank" rel="nofollow">
                                                            </a>
                                                        </li>
                                                        <li class="pinterest">
                                                            <a href="https://www.pinterest.com" target="_blank" rel="nofollow">
                                                            </a>
                                                        </li>
                                                        <li class="linkedin">
                                                            <a href="https://www.linkedin.com" target="_blank" rel="nofollow">
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-container uk-container-center alt">
                                    <div class="uk-grid">
                                        <div class="uk-width-1-1">
                                            <div class="line"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-container uk-container-center alt">
                                    <div class="uk-grid">
                                        <div class="uk-width-9-10 uk-push-1-10">
                                            <div class="player-total-info">
                                                <p><strong>Aenean lobortis eu nibh eu euismod. In ullamcorper, velit sed tincidunt tempor, ante elit euismod magna, vel scelerisque odio velit nec arcu. Nulla dolor sapien, vehicula sit amet augue nec, consequat aliquet velit. Donec euismod interdum mauris id dapibus.</strong></p>
                                                <p>Fusce mollis ante dolor, in tincidunt justo vehicula id. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam nec tortor sit amet metus vestibulum sagittis. Donec sed dignissim nisi. Pellentesque ac dolor vestibulum, sollicitudin leo ac, pretium nulla. Mauris sit amet mattis turpis, eu molestie lectus. Donec semper sem ac dolor euismod vulputate. Quisque massa elit, viverra et euismod nec, porta eget elit. Aliquam molestie tempus ex, ut iaculis tortor eleifend ac. Aliquam id massa facilisis, iaculis orci et, ornare augue. Fusce eget sollicitudin est. Fusce ultrices enim ut aliquam sollicitudin.</p>
                                                <ul>
                                                    <li>Maecenas a nisl in turpis fermentum imperdiet;</li>
                                                    <li>Nullam at diam et odio consectetur fermentum;</li>
                                                    <li>Maecenas volutpat lacus quis sem congue egestas;</li>
                                                    <li>Quisque sit amet nunc quis quam tincidunt scelerisque;</li>
                                                    <li>Maecenas vestibulum ligula sed augue dictum, quis tincidunt nulla pellentesque;</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>











    @*<h1>Details</h1>

    <div>
        <h4>Player</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Photo)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Photo)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Position)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Position)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Apperances)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Apperances)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Goals)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Goals)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.YellowCards)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.YellowCards)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.RedCards)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.RedCards)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DateOfBirth)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Nationality)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Nationality)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.HeightInMeters)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.HeightInMeters)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.WeihtInKilograms)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.WeihtInKilograms)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>*@
